pkgbase = gbn
	pkgdesc = Interactive Git branch and commit navigator with rich previews
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/muneebshahid/gbn
	arch = any
	license = MIT
	depends = git
	depends = zsh
	optdepends = fzf: for rich interactive interface (recommended)
	optdepends = gum: alternative interactive interface
	source = gbn-1.0.0.tar.gz::https://github.com/muneebshahid/gbn/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = gbn
